<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Michiel de Mare" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/all.css">
</head>

<body>
  <div>
    <div class="container">
      {{ content }}
      </div>

      <section class="next">
        <h2>What should you do next?</h2>
        <div>
          <p>
            Read my <a href="/articles">articles</a>.
            Explore my <a href="/projects">projects</a>.
            View my <a href="/cv">resume</a>.
            Connect via <a href="mailto:michiel@mdemare.nl">email</a>.
            Visit my <a href="https://github.com/mdemare">GitHub account.</a>.
            Follow the site using <a href="https://mdemare.nl/feed.xml">RSS</a>.
          </p>
        </div>
      </section>
  </div>
</body>
</html>
