<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Michiel de Mare" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/all.css">
</head>

<body>
  <div class="container">
  {{ content }}
  </div>

  <nav>
    {% assign all_articles = site.articles | sort: 'date' | reverse %}
    {% assign date_to_ord = {'1' => 'st','2' => 'nd', '3' => 'rd','21' => 'st','22' => 'nd', '23' => 'rd','31' => 'st'} %}

    <h2>{{ all_articles.first.date | date: "%B" }}'s Thoughts</h2>

    {% for article in all_articles %}
      {% assign current_yd = article.date | date: "%Y%m" %}
      {% assign previous_yd = last_article.date | date: "%Y%m" %}
      {% assign current_y = article.date | date: "%Y" %}
      {% assign previous_y = last_article.date | date: "%Y" %}

    {% if forloop.first == false and current_yd != previous_yd %}
      <h3>
        {% if current_y != previous_y %}
          <span>{{ current_y }}</span>
        {% endif %}
        <span>{{ article.date | date: "%B" }}</span>
      </h3>
      {% endif %}
      <a href="{{ article.url }}"{% if article.url == page.url %}class="active"{% endif %} title="{{ current_yd }} {{ previous_yd }}">
        <p>{{ article.title }}</p>
        <hr>
        {% assign date = article.date | date: "%-d" %}
        <span>{{ date }}{{ date_to_ord[date] | default: 'th' }}</span>
      </a>
      {% assign last_article = article %}
    {% endfor %}
  </nav>
</body>
</html>
