---
layout: default
---


<div class="project-container">
  <h2 style="margin: auto; color: #222; font-size: 170%; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1)">Projects</h2>
  <hr style="width: 500px; background-color: #bbb; height: 1px; max-width: 500px">
  {% for project in site.projects %}
    {% if project.unpublished != "true" %}
      <div class="project-card">
        {% if project.logo %}
          <img src="/assets/images/logos/{{ project.logo }}" alt="Project 1 Logo" class="project-logo">
        {% else %}
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/wcAAwAB/efK7EAAAAAASUVORK5CYII=" alt="No logo" class="project-logo">
        {% endif %}
        <div class="project-info">
          <h3 class="project-title{% if project.url == page.url %} active{% endif %}">{{ project.title }}</h3>
          {% if project.github %}
            <a href="https://github.com/{{ project.github }}" class="repo-link" target="_blank">{{ project.github }}</a>
          {% endif %}
          <p class="project-desc">{{ project.description }}</p>
          <div class="project-links">
            {% if project.screenshot %}
              <a href="https://{{ project.screenshot }}" target="_blank">
                <img src="{{ project.screenshot_thumb }}" alt="Project Two Screenshot" class="screenshot-thumbnail">
              </a>
            {% endif %}
            {% if project.website %}
              <a href="https://{{ project.website }}" target="_blank">
                {{ project.website }}
                <svg fill="#000000" width="18px" height="18px" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg"><path d="M38.288 10.297l1.414 1.415-14.99 14.99-1.414-1.414z"/><path d="M40 20h-2v-8h-8v-2h10z"/><path d="M35 38H15c-1.7 0-3-1.3-3-3V15c0-1.7 1.3-3 3-3h11v2H15c-.6 0-1 .4-1 1v20c0 .6.4 1 1 1h20c.6 0 1-.4 1-1V24h2v11c0 1.7-1.3 3-3 3z"/></svg>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
